<div class=wrapper>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Pagina Principal</h4>
                        <p class="card-category"> Bienvenido a nuestra aplicacion!!</p>  
                    </div>
                    <div class="card-body">
                        <div class="input-group no-border  d-flex float-right justify-content-end align-items-right">
                            <button [routerLink]="['/login']" type="submit" class="btn btn-white btn-round ">
                                Iniciar Sesion
                            </button>
                            <button [routerLink]="['/registro']" type="submit" class="btn btn-white btn-round">
                                Registrarse
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>